.input {
  text-align: center;
  transition: 0.6s;
  width: 240px;
  height: 64px;
  background-color: #fff;
  position: absolute;
  top: 263px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 24px;
  color: #1d0560;
}

.input:focus {
  transition: 0.6s;
  border: 1px solid #200560;
  outline: none;
  width: 820px;
}

.input::placeholder {
  color: #abb5be;
  font-size: 24px;
}
